@media (min-width: 855px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6; } }
a {
  font-family: 'Bebas', 'Oswald', 'Helvetica Neue', 'Helvetica', sans-serif;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

a:hover,
a:focus {
  text-decoration: none;
  color: #1d9b6c; }

.navbar li {
  padding: 0px;
  font-size: 15px; }
.navbar ul {
  padding-right: 20px; }

.navbar-custom {
  text-transform: uppercase;
  background-color: #000; }

.navbar-custom .navbar-brand {
  font-size: 30px;
  padding: 15px 25px; }

.navbar-custom p {
  margin: 0px; }

.navbar-custom .navbar-toggle {
  margin: 1px 6px 0px 0px;
  font-size: 16px;
  color: #fff; }

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0; }

.navbar-custom a {
  color: #dcdcdc;
  color: white;
  text-shadow: -1px 1px 4px black; }

.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out; }

.navbar-custom .nav li a:hover {
  outline: 0;
  background-color: transparent; }

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent; }

.navbar-custom .nav li.active {
  outline: 0; }

.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3); }

.navbar-custom .nav li.active a:hover {
  color: #fff; }

@media (min-width: 855px) {
  .navbar-custom {
    padding: 15px 30px;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out; }

  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: #000; } }
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

@media (min-width: 855px) {
  .intro {
    height: 100%;
    padding: 0; }

  .intro .intro-body .brand-heading {
    font-size: 100px; }

  .intro .intro-body .intro-text {
    font-size: 26px; } }
.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-family: 'Bebas', 'Oswald', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.btn-default {
  border: 1px solid #42dca3;
  color: #42dca3;
  background-color: transparent; }

.btn-default:hover,
.btn-default:focus {
  border: 1px solid #42dca3;
  outline: 0;
  color: #000;
  background-color: #42dca3; }

/*# sourceMappingURL=nav.css.map */
