@immport "compass";
@immport "partials/variables";
@immport "partials/normalize";
@immport "partials/mixins";
@immport "partials/base";
@immport "compass/css3";

$accent-color: #d40044;
$accent-color: #666;
$color: white;


*, h1, h2, h3, p  {
  margin: 0 auto;
  padding: 0;
  font-family: 'Lato', 'Arial';
}

.container {
  padding: 10%;
  width: auto;
}

.content {
  vertical-align: middle;
  margin: auto;
}

h1 {
  font-size: calc(2em + 9vw);
  font-family: 'Bebas', 'Oswald', 'Helvetica Neue', 'Helvetica', sans-serif;
}

h2 {
  font-size: calc(2em + 5vw);
  letter-spacing: 10px;
}

h3 {
  font-size: calc(1.8em + 1vw);
  letter-spacing: 4px;
  color: $accent-color;
  line-height: 90px;
}

p {
  font-size: calc(.9em + .5vw);
  padding: 6px;
}

a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;

    &:focus,
    &:active,
    &:hover {
      color: #d4d4d4;
      text-decoration: none;
    }
}

.banner {
  -webkit-transform: skew(13deg);
  -moz-transform: skew(13deg);
  -o-transform: skew(13deg);
  border: 3px solid rgba(255,255,255,0.2);
  background: none;
  padding: 14px 0px 14px 0px;
  text-align: center;
  margin: 0px 20px 30px 20px;

  h2 {
    color: white;
    text-transform: uppercase;
    font-size: calc(2em + 1vw);
    -webkit-transform: skew(-13deg);
    margin-top: 0;
  }
}

button {
  border: none;
  background: black;
  padding: 10px 19px;

  a {
    font-size: 16px;
  }
}

button:hover a {
  text-decoration: none;
  color: #d4d4d4;
}

.divider {
  border-top: 10px solid black;
  width: 800px;
}

#main {
  text-align: center;
  background: url(../images/backgrounds/background1.jpeg) center center no-repeat fixed;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, 0.3) 100%), url(../images/backgrounds/background1.jpeg);
  background-color: black;
  background-size: cover;

  .container {
    padding-top: 16%;
    padding-bottom: 16%;
    color: white;
    text-shadow: 4px 6px 2px rgba(0, 0, 0, 0.5);
  }

  #brand {
    width: 75%;
    min-width: 290px;
    padding: 20px;
  }

  h1 {
    padding: 5px;
  }

  h2 {
    font-size: 2.3vw;
    font-weight: bold;
  }

  h3 {
    color: white;
    font-size: 1.6vw;
    font-weight: bold;
    padding-top: 0px;
    line-height: 20px;
  }

  .tagline {
    background: rgba(0,0,0,0.9);
    width: auto;
    padding: 12px 50px;
    margin: 50px 10px;
    display:inline-block;
    letter-spacing: 6px;
  }

  span {
    font-size: 15px;
    margin-top: 0;
    padding-top: 0;
  }
}

#profile {
  .container {
    display: flex;
  }

  #image-ctn {
    display: flex;
    align-items: center;
  }

  img  {
    width: 39vw;
    max-width: 37vw;
    padding-bottom: 20px;
  }

  p {
    font-family: 'Georgia';
    font-style: italic;
  }
}

#quote {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0.3) 100%), url(../images/backgrounds/background0.jpeg);
  background-color: black;
    background: url(../images/backgrounds/background0.jpeg) center center no-repeat fixed;
  background-size: cover;

  #quote-container {
    display: inline-block;
  }

  h1 {
    float: left;
    clear: both;
    font-size: calc(1em + 6.8vw);
    letter-spacing: 2px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    background: rgba(255, 255, 255, 0.8);
    margin: 4px 0px;
    padding: 10px;
  }
}

#skills {
  background: #252525;

  .container {
    padding: 8% 10%;
  }

  h3 {
    line-height: 40px;
    padding-top: 10px;
    color: #f5f5f5;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
  }

  p {
    padding-left: 10px;
    color: #969696;
  }

  .vert-line {
    border-left: 12px solid black;
    margin-bottom: 30px;
    margin-left: 40px;
    padding-left: 16px;
  }
}

#work {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }

  #gallery-container {
    overflow-y: scroll;
    height: 541px;
    width: 90%;
    padding-bottom: 10%;

    img {
      max-width: 96%;
      padding-bottom: 20px;
      filter: grayscale(90%);
      -webkit-transition: all 155ms ease;
      -moz-transition: all 155ms ease;
      -o-transition: all 155ms ease;
      -ms-transition: all 155ms ease;
      transition: all 605ms ease;
    }

    img:hover {
      filter: grayscale(0%)
    }
  }
}

#contact {
  background: #292828;
  position: relative;

  .container {
    padding: 5% 10%;
  }

  h2 {
    color: #101010;
  }

  h3 {
    font-size: 26px;
    font-weight: bold;
  }

  a {
    font-size: 16px;
    margin-right: 20px;
    font-weight: bold;
  }

  .icon {
    max-width: 33px;
    margin-right: 10px;
  }

  #sqr-outline {
    position: absolute;
    top: -59px;
    right: 140px;
    width: 520px;
    border: 4px solid rgba(0,0,0,0.7);
  }

  p {
    padding: 5px 25px;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 2px;
    white-space: nowrap;
    overflow: hidden;
  }

  span {
    text-align: right;
    color: rgba(255,255,255,0.8);
  }


  #geom {
    position: absolute;
    left: 0;
    bottom: 0px;
    background-image: url(images/backgrounds/black-geometry.jpg);
    height: 400px;
    width: 600px;
  }
}

#timeline {
  background: black;
  color: white;

  .month {
    background: white;
    padding: 10px 40px;
    color: black;
    display: inline-block;
  }

  .divider {
    padding: 20px;
  }
}

#work {
  height: 100%;
  background-size: cover;
  background: white;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, 0.3) 100%), url(../images/backgrounds/brick.jpg);
  background: url(../images/backgrounds/background1.jpeg) center center cover no-repeat fixed;

  #projects {
    padding-bottom: 20px;
  }

  .banner {
    border: 3px solid rgba(0,0,0,0.1);

    h2 {
      color: #404040;
      font-weight: bold;
    }
  }
  h3 {
    line-height: 20px;
  }

  .ctn {
    display: inline-grid;
    min-width: 49%;
    min-height: 180px;
    padding: 10px;
    vertical-align: middle;
    -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 4px 7px 6px 4px rgba(0,0,0,0.2);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
    text-align: center;

    .inner-ctn {
      display: flex;
      align-items: center;
    }

    &:hover{
      float: none;
      max-width: 49%;
      background: #3b3b3b;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }

    img {
      padding-top: 20px;
    }
  }

  .proj-icon {
    display: inline-block;
    height: 60px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
  }

  .ctn:hover .proj-icon {
    opacity: 0.2;
    position: absolute;
    left: 10px;
    z-index: -1;
    display: inline-block;
    height: 100px;
    -webkit-animation: smallToBig 800ms alternate infinite ease;
    -moz-animation: smallToBig 800ms alternate infinite ease;
    -ms-animation: smallToBig 800ms alternate infinite ease;
  }

  .proj-title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 25px 10px 10px 10px;
    letter-spacing: 2px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    transition: all 200ms ease;
  }

  .ctn:hover .proj-title{
    opacity: 1;
    color: white;
    padding-top: 30px;
    -webkit-animation: smallToBig 300ms ease;
    -moz-animation: smallToBig 300ms ease;
    -ms-animation: smallToBig 300ms ease;
  }

  .ca-sub{
    font-size: 12px;
    color: #b9b9b9;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    transition: all 200ms ease;
  }

  .ctn:hover .ca-sub{
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
  }

.proj-descrip {
    display: none;
    color: white;
    font-size: 14px;
    line-height: 20px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    transition: all 200ms ease;
  }

  .ctn:hover .proj-descrip {
    display: inline-block;
    z-index: 2;
    -webkit-animation: smallToBig 300ms ease;
    -moz-animation: smallToBig 300ms ease;
    -ms-animation: smallToBig 300ms ease;
  }

  @-webkit-keyframes smallToBig{
    from { -webkit-transform: scale(0.1); }
    to { -webkit-transform: scale(1); }
  }
  @-moz-keyframes smallToBig{
    from { -moz-transform: scale(0.1); }
    to { -moz-transform: scale(1); }
  }
  @-ms-keyframes smallToBig{
    from { -ms-transform: scale(0.1); }
    to { -ms-transform: scale(1); }
  }
  @-webkit-keyframes moveFromBottom {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(0%); }
  }
  @-moz-keyframes moveFromBottom {
    from { -moz-transform: translateY(100%); }
    to { -moz-transform: translateY(0%); }
  }
  @-ms-keyframes moveFromBottom {
    from { -ms-transform: translateY(100%); }
    to { -ms-transform: translateY(0%); }
  }
}

@media(max-width: 600px) {
  body {
    *, h1, h2, h3, p  {
      margin: 0 auto;
      padding: 0;
    }

    .container {
      padding: 15% 6%;
    }

    .banner {
      padding: 10px;
      letter-spacing: 2px;
      margin: 45px 0px 35px 0px;
    }

    p {
      font-size: 20px;
      line-height: 35px;
    }

    #main {
      h1 {
        padding: 20px;
      }

      h2 {
        font-size: 20px;
        width: 100%;
      }

      h3 {
        font-size: 13px;
        padding-top: 10px;
      }

      .tagline {
        margin: 3px;
        width: 80%;
        letter-spacing: 4px;
      }
    }

    h2 {
      letter-spacing: 4px;
      font-weight: bold;
    }

    #profile {
      #image-ctn  {
        display: none;
      }
    }

    #skills {
      .vert-line {
        margin-left: 0px;
        border-left: 0px;
      }

      h3 {
        padding: 0px 0px 8px 0px;
      }

      p {
        padding: 0px 0px 4px 0px;
      }

      .container {
        padding: 15% 6%;
      }
    }

    #work {
      .ctn {
        min-width: 100%;
      }
    }

    #contact {
      h2 {
        letter-spacing: 4px;
        font-weight: bold;
      }

      h3, a {
        font-size: 12px;
      }

      #sqr-outline {
        display: none;
      }

      .container {
        padding: 12% 10%;
      }
    }
  }
}

@media(max-width: 950px) {
 #contact {
      #sqr-outline {
        display: none;
      }
    }
}
