@immport "compass";
@immport "partials/variables";
@immport "partials/normalize";
@immport "partials/mixins";
@immport "partials/base";
@immport "compass/css3";
@media (max-device-width: 600px) {
  body p {
    font-size: 20px; }
  body .container {
    padding: 10%; }
  body #profile #image-ctn {
    display: none; }
  body #work .ctn {
    min-width: 100%; }
  body #contact h3 {
    font-size: 20px; }
  body #contact #sqr-outline {
    display: none; } }
@media (max-width: 600px) {
  body #profile #image-ctn {
    display: none; }
  body #work .ctn {
    min-width: 100%; }
  body #contact h3 {
    font-size: calc(1.5em + 1vw); }
  body #contact #sqr-outline {
    display: none; } }
*, h1, h2, h3, p {
  margin: 0 auto;
  padding: 0; }

body {
  font-family: 'Bebas', 'Oswald', 'Helvetica Neue', 'Helvetica', sans-serif; }

.container {
  padding: 10%;
  width: auto; }

.content {
  vertical-align: middle;
  margin: auto; }

h1 {
  font-size: calc(2em + 9vw); }

h2 {
  font-size: calc(2em + 5vw); }

h3 {
  font-size: calc(2.2em + 1vw);
  color: #666;
  padding: 16px 0px; }

p {
  font-size: calc(.9em + .5vw);
  font-family: 'Georgia';
  font-style: italic;
  padding: 6px; }

.banner {
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  -o-transform: skew(15deg);
  background: black;
  padding: 9px 0px 20px 0px;
  text-align: center;
  margin: 0px 20px 24px 20px; }
  .banner h2 {
    color: white;
    font-size: calc(2em + 3vw);
    -webkit-transform: skew(-15deg);
    margin-top: 0; }

button {
  border: none;
  background: black;
  padding: 8px 20px;
  letter-spacing: 2px; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    color: #666; }

.divider {
  border-top: 10px solid black;
  width: 800px; }

#main {
  height: 100%;
  text-align: center;
  background-size: cover;
  background: white;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.3) 100%), url(../images/backgrounds/brick.jpg);
  background: url(../images/backgrounds/background1.jpeg) center center cover no-repeat fixed; }
  #main #brand {
    width: 90%;
    min-width: 290px;
    padding-top: 50px; }
  #main h3 {
    padding: 26px 0px; }

#title {
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 100%), url(../images/backgrounds/background1.jpeg);
  background: url(../images/backgrounds/background1.jpeg) center center cover no-repeat fixed; }
  #title .container {
    color: white;
    text-shadow: 4px 6px 2px rgba(0, 0, 0, 0.5); }

#profile .container {
  display: flex; }
#profile #image-ctn {
  display: flex;
  align-items: center; }
#profile img {
  width: 39vw;
  max-width: 37vw;
  padding-bottom: 20px; }

#quote {
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 100%), url(../images/backgrounds/background0.jpeg);
  text-align: center; }
  #quote #quote-container {
    display: inline-block; }
  #quote h2 {
    float: left;
    clear: both;
    font-size: calc(1em + 6vw);
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    background: rgba(255, 255, 255, 0.8);
    margin: 4px 0px;
    padding: 10px; }

#skills {
  background: #333; }
  #skills .container {
    padding: 8% 10%; }
  #skills h3 {
    padding: 0px 0px 20px 5px; }
  #skills p {
    padding-left: 20px;
    color: #cacaca; }
  #skills .vert-line {
    border-left: 12px solid black;
    margin-bottom: 30px;
    margin-left: 40px;
    padding-left: 16px; }

#work ::-webkit-scrollbar {
  width: 8px; }
#work ::-webkit-scrollbar-track {
  border-radius: 10px; }
#work ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
#work #gallery-container {
  overflow-y: scroll;
  height: 666px;
  width: 90%;
  padding-bottom: 10%; }
  #work #gallery-container img {
    max-width: 96%;
    padding-bottom: 20px;
    filter: grayscale(100%);
    -webkit-transition: all 155ms ease;
    -moz-transition: all 155ms ease;
    -o-transition: all 155ms ease;
    -ms-transition: all 155ms ease;
    transition: all 155ms ease; }
  #work #gallery-container img:hover {
    filter: grayscale(0%); }

#contact {
  background: #333;
  position: relative; }
  #contact h1 {
    color: white; }
  #contact #sqr-outline {
    position: absolute;
    top: -52px;
    right: 100px;
    width: 450px;
    border: 5px solid black; }
  #contact p {
    padding: 9px 10px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden; }
  #contact span {
    text-align: right;
    color: white; }
  #contact .icon {
    max-width: 24px; }
  #contact #geom {
    position: absolute;
    left: 0;
    bottom: 0px;
    background-image: url(images/backgrounds/black-geometry.jpg);
    height: 400px;
    width: 600px; }

#timeline {
  background: black;
  color: white; }
  #timeline .month {
    background: white;
    padding: 10px 40px;
    color: black;
    display: inline-block; }
  #timeline .divider {
    padding: 20px; }

#work #projects {
  padding-bottom: 20px; }
#work .ctn {
  display: inline-grid;
  min-width: 49%;
  min-height: 180px;
  padding: 10px;
  vertical-align: middle;
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 7px 6px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  text-align: center; }
  #work .ctn .inner-ctn {
    display: flex;
    align-items: center; }
  #work .ctn:hover {
    float: none;
    max-width: 49%;
    background: #3b3b3b;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
#work .proj-icon {
  display: inline-block;
  height: 60px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease; }
#work .ctn:hover .proj-icon {
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: inline-block;
  height: 100px;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  -webkit-animation: smallToBig 800ms alternate infinite ease;
  -moz-animation: smallToBig 800ms alternate infinite ease;
  -ms-animation: smallToBig 800ms alternate infinite ease; }
#work .proj-title {
  font-size: 30px;
  padding: 10px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease; }
#work .ctn:hover .proj-title {
  opacity: 1;
  color: white;
  -webkit-animation: smallToBig 300ms ease;
  -moz-animation: smallToBig 300ms ease;
  -ms-animation: smallToBig 300ms ease; }
#work .ca-sub {
  font-family: 'Lato';
  font-size: 12px;
  color: #b9b9b9;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease; }
#work .ctn:hover .ca-sub {
  -webkit-animation: moveFromBottom 500ms ease;
  -moz-animation: moveFromBottom 500ms ease;
  -ms-animation: moveFromBottom 500ms ease; }
#work .proj-descrip {
  display: none;
  color: white;
  font-family: 'Lato';
  font-size: 14px;
  line-height: 20px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease; }
#work .ctn:hover .proj-descrip {
  display: inline-block;
  z-index: 2;
  -webkit-animation: smallToBig 300ms ease;
  -moz-animation: smallToBig 300ms ease;
  -ms-animation: smallToBig 300ms ease; }
@-webkit-keyframes smallToBig {
  from {
    -webkit-transform: scale(0.1); }
  to {
    -webkit-transform: scale(1); } }
@-moz-keyframes smallToBig {
  from {
    -moz-transform: scale(0.1); }
  to {
    -moz-transform: scale(1); } }
@-ms-keyframes smallToBig {
  from {
    -ms-transform: scale(0.1); }
  to {
    -ms-transform: scale(1); } }
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%); }
  to {
    -webkit-transform: translateY(0%); } }
@-moz-keyframes moveFromBottom {
  from {
    -moz-transform: translateY(100%); }
  to {
    -moz-transform: translateY(0%); } }
@-ms-keyframes moveFromBottom {
  from {
    -ms-transform: translateY(100%); }
  to {
    -ms-transform: translateY(0%); } }

/*# sourceMappingURL=styles.css.map */
